@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root{
    --azul-rico: #03071eff;
    --vinho: #370617ff;
    --vermelho-bordo: #6a040fff;
    --vermelho-forte: #9d0208ff;
    --vermelho-medio: #d00000ff;
    --vermelho-fraco: #dc2f02ff;
    --laranja-forte: #e85d04ff;
    --laranja-medio: #f48c06ff;
    --larnja-fraco: #faa307ff;
    --amarelo: #ffba08ff;
    --fonte-titulo: "Grey Qo", cursive;
    --fonte-texto: "Oswald", sans-serif;
}